@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------------------------------------Colors*/

.bg-color-name-title {
    background-color: #292C36;  
}

.ui-menu-color-home {
    background-color: #887B7F;
}

.ui-menu-color-resume {
    background-color: #933F59;
}

.ui-menu-color-contact {
    background-color: #1d7b01;
}

.ui-menu-color-download {
    background-color: #9F804D;
}

/*-------------Styling the paddings/margins&Text-----*/
h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    color: #fafafa;
}

.inline-block {
    display: inline-block;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
}

/*-------------Heading styles------*/
header {
    margin: 0;
}


.logo {
    background: url("/images/teza.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.heading {
    margin-left: 50px;

}

.name {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Kanit", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin:0;
}

#nav li {
    font-size: 14px;
    padding: 0;
    font-family: "Kanit", sans-serif;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: black;
    height: 120px;

}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
}

/*-------------Hover classes--------*/

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}

.hvr-sweep-to-right:before {
    background: rgba(0, 0, 0, 0.3);
    height: 120px;
}

.hvr-sweep-to-left:before {
    background: rgba(0, 0, 0, 0.4);
    height: 120px;
}

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.5);
    height: 120px;
}

/*-------------Footer styles------*/

footer {
    background-color: #292C36;
    color: #fff;
    min-height: 120px;
    margin: 0;
}

.cv-pdf i {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding-left: 5px;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.cv-pdf i:hover {
    color:#1d7b01;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    padding: 16px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    color: #fff;
    background: #899599;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    
    
}

.social-links li a i:hover {
    background-color: #1d7b01;
}

#footer-details {
    padding: 20px;
}